body {
  margin: 0;
  overflow: hidden;
 
}



.button-start{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    color: black;
}

.title{
  
    color: rgb(32, 16, 173);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    
    text-align: center;
 
}
.button-start button{
    background-color: rgb(255, 255, 255);
  color: rgb(13, 13, 13);
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: 400px;
  border: none;
  align-items: center;
  justify-content: center;
  font-size: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}
#start-screen{
  
    background-image: url("../images/image-start.png");
  background-size: contain;      
  background-position: center; 
  background-repeat: no-repeat;
flex-direction: column;
  
    background-attachment: fixed;
    
  height: 100vh;


}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  
  width:500px;
  height:400px

  

 
 

}

#game-screen{
   
     background-image: url("../images/fond\ musée.png");
       background-size: cover;
        background-size: contain;      
  background-position: center; 
  background-repeat: no-repeat;
    height: 100vh;
    display: none;
    background-attachment: fixed;

}


#game-box * {
  pointer-events: none; /* prevents elements in the game-box to be dragged. This improves the user experience for click events on the game-box  */
}

 #game-over-screen {
  visibility: hidden;
      display: none;
}

#start-screen {
   
}